.footer {
    background: linear-gradient(45deg, #f6efd2, #b58b49);
    padding-top: 35px;
    padding-bottom: 30px;
    color: #000;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-col {
    max-width: 350px;
    flex-grow: 1;
}

.footer-copy {
    color: #000;
    line-height: 1.3;
}

.footer-copy-name {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 16px;
}

.footer-copy p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}

.footer-socials p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    margin: 10px 0 10px 47px;
}

.footer-socials-icons {
    display: flex;
    margin-left: 75px;
}

.footer-socials-img {
    width: 60px;
    height: 60px;
}

.footer-socials-img:hover {
    fill: #fff;
}

@media (max-width: 1140px) {
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-copy-name {
        margin-top: 10px;
        margin-bottom: 14px;
    }
}

@media (max-width: 768px) {
    .footer-row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .footer-copy-name {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .footer-copy p {
        font-size: 14px;
    }
    .footer-socials p {
        margin: 10px 0;
    }
    .footer-socials-icons {
        margin-left: 40px;
    }
    .footer-socials-img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 360px) {
    .footer-row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .footer-copy-name {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .footer-copy p {
        font-size: 12px;
    }
    .footer-socials p {
        font-size: 14px;
        margin: 5px 0;
    }
    .footer-socials-icons {
        margin-left: 50px;
    }
    .footer-socials-img {
        width: 40px;
        height: 40px;
    }
}